bin/
lib/
obj/
node_modules/
*.[Rr]e[Ss]harper*
*[Nn]crunch*
/MyLinn.sln.DotSettings.user
*.csproj.user
log.txt
*/logs/*
packages/*
.vs
.vscode
*.env
TestResult.xml
testrunner
nuget.exe
coverageConfig.json
coverageKnowns
TestResults/
App.config
config.json
tools/*.exe
*.md5sum
tools/Cake/*
tools/Addins/*
*.lock.json
*-lock.json
launchSettings.json
*.xproj.user
*.zip
*.download
!*/libds/*.zip
*.jsx
*.jsx.map
__pycache__
api/index.html